{{#if re}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    User Has Been Removed Successfully
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}

<div class="row">
  <div class="col-6 justify-self-center"><h1>Users</h1></div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email Address</th>
      <th scope="col">Phone</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.fname}}</td>
        <td>{{this.lname}}</td>
        <td>{{this.emial}}</td>
        <td>{{this.phone}}</td>
        <td class="text-end">
          <a
            href="/view/{{this.id}}"
            type="button"
            class="btn btn-primary btn-small align-self-center"
          ><i class="bi bi-eye-fill"></i>
            View
          </a>
          <a
            href="/edit/{{this.id}}"
            type="button"
            class="btn btn-success btn-small align-self-center"
          ><i class="bi bi-pen-fill"></i>
            Edit
          </a>
          <a
            href="/{{this.id}}"
            type="button"
            class="btn btn-outline-danger btn-small align-self-center"
          ><i class="bi bi-person-x-fill"></i>
            Delete
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>